/*Sección Skills*/
.skills {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin-top: 2rem;
  align-items: center;
}

.skills__title {
  font-size: 1.5rem;
  font-weight: bold;
}

.skills__line {
  display: flex;
  justify-content: space-around;
}

.skills__box {
  display: flex;
  width: 12vw;
  height: 13vh;
  background-color: white;
  align-items: end;
  margin-right: 0.5rem;
  padding-left: 1rem;
}

.skills__box:hover {
  background-color: #eaf2fd;
}

.skills__box ul {
  padding-inline-start: 0;
}

/*Tablet*/
/* @media (min-width: 768px) { */
@media screen and (max-width: 768px) {
  /*Skills*/

  .skills__title {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .skills__line {
    flex-wrap: wrap;
    width: 90vw;
  }

  .skills__box {
    width: 25vw;
    height: 10vh;
    margin-top: 1rem;
  }
}

/*Mobile*/
@media screen and (max-width: 425px) {
  /*Skills*/

  .skills__title {
    font-size: 1.2rem;
  }

  .skills__box {
    width: 35vw;
    margin-right: 0rem;
  }
}
